<h1>広報資料作成</h1>

<%= form_with model: @public_relation do |f| %>
  <h4>理事会開催日時</h4>
  <%= f.datetime_field :date %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>対象グループ</h4>
  <%= f.select :group_id, options_from_collection_for_select(Group.all, :id, :name) %>
  <%= f.submit "次へ進む" %>
<% end %>
