<h1><%= @public_relation.title %></h1>

<h4>日時</h4>
<%= format_time(@public_relation.date) %>

<h4>出席者（敬称略）</h4>
<table>
  <% @users.each do |user| %>
  <tr>
    <th><%= user.last_name %> <%= user.first_name %></th>
    <%= form_with model: user, url: change_user_path(user.id), method: :patch do |f| %>
    <td>
      <%= f.select :is_participated, options_for_select(User.is_participateds_i18n.invert, { :selected => user.is_participated }) %>
    </td>
    <%= hidden_field_tag :memo_id, @public_relation.id %>
    <td><%= f.submit "変更" %></td>
    <% end %>

  </tr>
  <% end %>
</table>

【議題】</br>
<% @categories.each_with_index do |category, index_c| %>
  <%= index_c + 1 %>. <%= category.name %></br>
  <% if @topics.find_by(category_id: category.id) %>
    <% @topics.where(category_id: category.id).each_with_index do |topic, index_t| %>
      <li>
        （<%= index_t + 1 %>）<%= topic.name %>
        <%= topic.body %>
      </li>
    <% end %>
  <% else %>
    <li>
      なし
    </li>
  <% end %>
<% end %>

