<h4>グループ：「<%= @group.name %>」の情報</h4>

<h5>参加者</h5>

<% if @group_users %>
  <% @group_users.each do |group_user| %>
    <%= group_user.user.full_name %>
    <%= link_to "グループ退会", destroy_user_path(group_user.id), method: :delete, "data-confirm" => "グループを退会しますか？" %>
  <% end %>
<% else %>
  参加している方はいません
<% end %>

<% if @users_ary.empty? %>
  <h5>全員参加中です</h5>
<% else %>
  <h5>グループへ追加する方を選択してください</h5>
  <% @users_ary.each do |user| %>
    <%= user.full_name %>
    <%= form_with model: @gourp_user, url: add_user_path, method: :post do |f| %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.submit "参加" %>
    <% end %>
  <% end %>
<% end %>
<button><%= link_to "グループ名を変更する", edit_group_path(@group.id) %></button>
<% unless @group.name == "その他" %>
  <button><%= link_to "グループを削除する", group_path(@group.id), method: :delete, "data-confirm" => "本当に削除しますか？(このグループに属しているほかのアイテム（広報など）はグループ：その他へ移動します(グループ：その他が無い場合には生成します）" %></button>
<% else %>
  （このグループは削除できません）
<% end %>
<button><%= link_to "一覧へ戻る", groups_path %></button>