<h1>理事情報 編集</h1>（敬称略）

<%= form_with model: @user do |f| %>
  <%= f.email_field :email %>
  <%= f.text_field :last_name %>
  <%= f.text_field :first_name %>
  <%= f.text_field :keyword %> ※理事長からの指示が無い限り変更しないでください
  <%= f.hidden_field :is_participated, :value => @user.is_participated %>
  <%= f.submit "変更する" %>
<% end %>

<button><%= link_to "理事登録状況へ戻る", user_path(@user.id) %></button>
<% if @user.is_deleted == false %>
  <button><%= link_to "理事会を退会する", unsubscribe_path(@user.id) %></button>
<% end %>
<button><%= link_to "理事一覧へ", users_path %></button>