<h1>理事一覧</h1>

<% @users.each do |user| %>
  <%= user.last_name %> <%= user.first_name %>
  <% @group.each_with_index do |group, index| %>
    <!--buttonのidの名前を都度生成する-->
    <% id_group = "id_group#{index + 1}" %>
    <button class="group" id="id_group" onclick="changeColor()"><%= group.name %></button>
    <%= group.group_users.each do |g_user| %>
      <%= form_with model: g_user do |f| %>
        <%= f.submit g_user %>
      <% end %>
    <% end %>
<script>
  function changeColor() {
    // let group = document.getElementById("id_group").innerHTML;
    let group = document.getElementById("id_group")
    group.style.backgroundColor = "#BBFFFF";
  }
</script>
  <% end %>
<% end %>




