<h1>理事一覧</h1>（敬称略）

<% @users.each do |user| %>
  <%= user.full_name %>：
  <% if user.group_users.present? %>
    <% user.group_users.each_with_index do |g_user, index| %>
        <%= g_user.group.name %>
    <% end %>
  <% else %>
    参加しているグループはありません
  <% end %>
  <%= link_to "理事登録状況", user_path(user.id) %>
  <button><%= link_to "理事情報を編集する", edit_user_path(user.id) %></button>
  <button><%= link_to "理事会を退会する", user_path(user.id), method: :delete, "data-confirm" => "本当に退会しますか？" %></button>

<% end %>
