グループ名変更
<%= render 'public_relations/group', groups: @groups %>

<h1>アンケート一覧</h1>


<% @votes.each do |vote| %>
  <%= vote.title %>
  対象グループ：
  <%= vote.group.name %>
  <button><%= link_to "詳細", vote_path(vote.id) %></button>
  <button><%= link_to "編集", edit_vote_path(vote.id) %></button>
  <button><%= link_to "削除", vote_path(vote.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></button>
<% end %>