<script>
  const answer_1 = <%= @answer_1 %>
  const answer_2 = <%= @answer_2 %>
  const answer_3 = <%= @answer_3 %>
  const answer_4 = <%= @answer_4 %>
</script>

<% if @user.vote_answers.find_by(vote_id: @vote.id) %>
  <h1>アンケートのご協力ありがとうございます。</h1>

  <h4>回答状況</h4>
  <p>回答済</p>
  <h4>タイトル</h4>
  <%= @vote.title %>

  <h4>質問（2～200文字）</h4>
  <%= @vote.question %>
  <h4>選択肢（1～50文字）</h4>
  <%= @vote.choice_1 %></br>
  <%= @vote.choice_2 %></br>
  <%= @vote.choice_3 %></br>
  <%= @vote.choice_4 %>

  <h4><%= @user.last_name %>さんの回答</h4>
  <%= @user.vote_answers.find_by(vote_id: @vote.id).answer %>

  <h4>現在の集計状況</h4>
  <table>
    <tr>
      <th class="total"><%= @vote.choice_1 %> :</th>
      <td class="total"><%= @answer_1 %></td>
      <td><div class="graph" id="graph_1"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_2 %> :</th>
      <td class="total"><%= @answer_2 %></td>
      <td><div class="graph" id="graph_2"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_3 %> :</th>
      <td class="total"><%= @answer_3 %></td>
      <td><div class="graph" id="graph_3"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_4 %> :</th>
      <td class="total"><%= @answer_4 %></td>
      <td><div class="graph" id="graph_4"></div></td>
    </tr>
  </table>
  <script>
    graph_1.style.backgroundColor = "#33FFFF";
    graph_1.style.width = answer_1 * 20 + "px";
    graph_2.style.backgroundColor = "#33FFFF";
    graph_2.style.width = answer_2 * 20 + "px";
    graph_3.style.backgroundColor = "#33FFFF";
    graph_3.style.width = answer_3 * 20 + "px";
    graph_4.style.backgroundColor = "#33FFFF";
    graph_4.style.width = answer_4 * 20 + "px";
  </script>

<% else %>
  <h1>アンケートにご協力ください。</h1>

  <h4>回答状況</h4>
  <p>未回答</p>

  <%= flash[:vote_notice] %>

  <h4>タイトル</h4>
  <%= @vote.title %>

  <h4>質問（2～200文字）</h4>
  <%= @vote.question %>
  <h4>選択肢（1～50文字）</h4>
  <%= form_with model: @vote_answer do |f| %>
    <%= f.radio_button :answer, @vote.choice_1 %>
    <%= f.label :answer, @vote.choice_1, value: @vote.choice_1 %></br>
    <%= f.radio_button :answer, @vote.choice_2 %>
    <%= f.label :answer, @vote.choice_2, value: @vote.choice_2 %></br>
    <%= f.radio_button :answer, @vote.choice_3 %>
    <%= f.label :answer, @vote.choice_3, value: @vote.choice_3 %></br>
    <%= f.radio_button :answer, @vote.choice_4 %>
    <%= f.label :answer, @vote.choice_4, value: @vote.choice_4 %>
    <%= f.hidden_field :vote_id, :value => @vote.id %>
    <%= f.submit "回答する" %>
  <% end %>
  <a href="javascript:onClick()">現在の集計状況を見る</a>
  <table id="table">
    <tr>
      <th class="total"><%= @vote.choice_1 %> :</th>
      <td class="total"><%= @answer_1 %></td>
      <td><div class="graph" id="graph_1"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_2 %> :</th>
      <td class="total"><%= @answer_2 %></td>
      <td><div class="graph" id="graph_2"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_3 %> :</th>
      <td class="total"><%= @answer_3 %></td>
      <td><div class="graph" id="graph_3"></div></td>
    </tr>
    <tr>
      <th class="total"><%= @vote.choice_4 %> :</th>
      <td class="total"><%= @answer_4 %></td>
      <td><div class="graph" id="graph_4"></div></td>
    </tr>
  </table>
  <script>
    function onClick() {
      table.style.visibility = "visible";
      graph_1.style.backgroundColor = "#33FFFF";
      graph_1.style.width = answer_1 * 20 + "px";
      graph_2.style.backgroundColor = "#33FFFF";
      graph_2.style.width = answer_2 * 20 + "px";
      graph_3.style.backgroundColor = "#33FFFF";
      graph_3.style.width = answer_3 * 20 + "px";
      graph_4.style.backgroundColor = "#33FFFF";
      graph_4.style.width = answer_4 * 20 + "px";
    }
  </script>
<% end %>


